html {
  scroll-behavior: smooth;
}

#content-wrapper{
  display: flex;
  margin-left: 224px;
  transition: all 0.5s;
}

.sidebar-toggled #content-wrapper {
  margin-left: 104px;
}

.toggled .menu_item{
  display: none !important;
}

/* .toggled .nav-link{
  display: block;
  height: 100px;
} */

.toggled .nav-link{
  display: block;
  height: 70px;
}

.toggled .fa::before{
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#sidebar1{
  overflow-y: auto;
  background-image: linear-gradient(to top ,#1f2971, #1b2464);
  transition: all 0.5s;
}

#sidebar1 .sidebar-brand{
  background-color: #141b4b;
  color: white;
  position: fixed;
  display: block;
  width: 224px;
}

.toggled .sidebar-brand{
  width: 104px !important;
}

#sidebar1 ul{
  margin-top: 71px;
}

#content .navbar{
  position: fixed;
  width: calc(100% - 225px);
  right: 0;
  z-index: 1000;
  box-shadow: 1px 1px 3px lightgrey;
  transition: all 0.5s;
}

.sidebar-toggled #content .navbar{
  width: calc(100% - 104px);
}

.sidebar-brand-icon{
  height: 50px;
  width: 50px;
}

#page-content{
  margin-top: 70px;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    /* transition: all 0.5s; */
}

/*removing focus from input fields*/
input, button, .custom-radio {
  outline: none;
  box-shadow:none !important;
}



#accordionSidebar .nav-link:hover{
  /* background-image: linear-gradient(to left,#38428a,#38428a); */
  background-color: #38428a;
  cursor: pointer;
  color: white;
  border-left: 8px solid white;
}

#sidebar1 .fa:hover{
  color: white;
}

#sidebar1 .nav-link{
  font-size: 15px;
}

.vertical_nav{
  box-shadow: 3px 3px 10px rgba(34,45,125, 0.5);
}
