.navbar{
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.4s;
}

.nav-link{
  color: gray;
  text-decoration: none;
}

.uline{
  display: none;
  width: 40%;
  border: 1px solid white;
}

.uline .active{
  color: black;
  font-weight: 500;
}

.active .uline{
  display: block;
}

.navbar-brand{
  font-size: 25px;
}

#judgement{
  height: 763px;
  margin-left: 270px;
}

#judgement .card-body{
  overflow: auto;
}

#leftSidebar {
  width: 285px;
  position: fixed;
  top: 59px;
  left: 0;
  height: calc(100% - 59px);
  z-index: 999;
  background-color: white;
  color: black;
  transition: all 0.5s;
  overflow-y: scroll;
}

#leftSidebar #menu{
  width: 285px;
  margin: 0;
  position: relative;
}

#judgement p{
  text-align: justify;
}